* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 166, 248);
  font-family: 'Quicksand', sans-serif;
}

.header {
  background-color: darkorchid;
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;

  .heading {
    font-family: 'Rubik Scribble', system-ui;
    font-size: 3rem;
  }
}

.main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100svw;
  height: 80svh;
  border: 1px solid red;
  padding: 5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  .card {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: 'Rubik Scribble', system-ui;
      margin-bottom: 0.5rem;
    }

    .image-container {
      width: 300px;
      height: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 300px;
        height: auto;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100svw;
  height: 10svh;
  border-top: 2px dashed rebeccapurple;

  display: flex;
  justify-content: center;
  align-items: center;
}
